/* --- hard reset --*/ 

    * {
        margin: 0;
        padding: 0;
    }

    body{
        width: 100%;
        max-width: 9600px; 
        
    }

    html{
        scroll-behavior: smooth;
        
    }

   

/* --- Font Styling --*/

    p{
        font-family: 'roboto', sans-serif;
        font-weight: 700;
        color: 
    }

     h2, h3{
        font-family: 'roboto', sans-serif;
        font-weight: 900;
        color:#242058;
        
    }

.behind{
    z-index: -1;
    color: aquamarine;
    font-size: 80px;
    font-family: 'roboto', 'sans-serif';
    margin-top: none;
    text-align: left;
}

/* --- Nav --*/

    
    
    
    }

    #nav img{
        display: block;
        padding-right:  100px;
        float: left;
        height: 100px;
        
    }
    
    ul{
        text-align: right;
        background-color:#00b5a5;
        grid-column: 1/5;
    }
        
    ul li{
        display: inline-block;
        margin-right: 20px;
        margin-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: right;
        font-family: 'Roboto|900', sans-serif;
        font-size: 20px;
        font-weight: 900;
        grid-column: 3/5;
        }

    ul img{
        margin: auto;
        margin-right: 300px;
        margin-top: 10px;
        height:auto;
        width:50px;
        align-content: center;
    }

    li a{
        color:white;
        text-decoration: none;
        }

    li a:hover {
        color:#242058;
        transition: ease-in, 0.5s;
    }

/* --- home --*/ 

    #home{
        height: 800px;
        max-height: 800px;
        display: grid;
        grid-template-columns: 25% 25% 25% 25% ;
        background-color: #00B5A5;
        
        
    }

    #home h2{
        
        margin-top: 200px;
        grid-column: 2/2;
        color:white;
        text-align: right;
        font-size: 300px;
        font-family: 'roboto|900', sans-serif;
    }

    .fadeIn {
      animation-duration: 2s;
      animation-delay: 0s;
      
    }





    #home p{
        grid-column: 3/3;
        z-index: +1 ;
        font-family: 'roboto', sans-serif;
        font-size: 40px;
        font-weight: 700;
        color: white;
        margin-top: 230px;
        margin-left: 20px;
        
        
    }

/* --- about --*/ 

    #about {
        min-height: 800px;
        background-color: white;
        padding: 50px;
        background-image: url(images/about/SVG/01.svg);
        background-repeat: no-repeat;
        
    }

    #about-content {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items:center;

    }



    #about h2{
        color:#242058;
        text-align: left;
        font-size: 80px;
        font-family: 'roboto|900', sans-serif;
       
    }

    .about-img {
        display: inline-block;
        height: 100px;
        width: 100px;
        margin-left: 100px;
        align-content: center;
      
    }

    .contentl p{
        color:#242058;
        text-align: left;
        font-size: 40px;
        margin-top: 100px;
    }

    .self{
        justify-content: center;
        align-content: center;
     
    }

    .self-img {
        margin: 0 auto;
        height: 600px;
        width: 600px;
    }

.img skills{
    margin-right: 10px;
}



/* --- Portfolio --*/
   
    #portfolio {
        min-height: 800px;
        background-color: white;
        padding: 50px;
        background-image: url(images/portfolio/02.svg);
        background-repeat: no-repeat;
         
    }

    #portfolio-content {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items:center;

    }



    .portfolio-h2{
        color:#242058;
        text-align: left;
        font-size: 80px;
        font-family: 'roboto|900', sans-serif;
       
    }

    .about-img {
        display: inline-block;
        height: 100px;
        width: 100px;
        margin-left: 100px;
      
    }

    .portfolio-content p{
        color:#242058;
        text-align: left;
        font-size: 40px;
        margin-top: 50px;
    }

    .container {
      position: relative;
      width: 50%;
    }

    .image {
      display: block;
      width: 100%;
      height: 10em;
      width: 10em;
    }

/* --- black death case study ---*/
.black-death{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 60px;
    
}

.black-death img{
    border-radius: 10px;
    height:auto;
    width: 30em;
    margin: 40px;
    grid-column: 1/2;
}

.bdl img{
    border-radius: 10px;
    height:auto;
    width: 30em;
    margin: 40px;
    grid-column: 1/2;
   
}

.bdl{
    position: relative;
}
.blh2{
    font-size:3em;
    margin-top: 40px;
    margin-bottom: 20px;
    
}

.bdp{
    color:#242058;
    font-size: 2em;
}

/* --- end of black death case study ---*/
/* --- Walk mobile app ---*/

.walk{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 60px;
}

.walk img{
    border-radius: 10px;
    height:auto;
    width: 30em;
    margin: 40px;
    grid-column: 1/2;
}

.walk img{
    border-radius: 10px;
    height:auto;
    width: 30em;
    margin: 40px;
    grid-column: 1/2;
}

.walkl{
    position: relative;
}
.walkh2{
    font-size:3em;
    margin-top: 40px;
    margin-bottom: 20px;
    
}

.walkp{
    color:#242058;
    font-size: 2em;
}

/* --- End of walk app case study ---*/

/* --- 30 day logo challenge case study ---*/

.day{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 60px;
}

.day img{
    border-radius: 10px;
    height:auto;
    width: 30em;
    margin: 40px;
    grid-column: 1/2;
}




.dayl{
    position: relative;
    
}
.dayh2{
    font-size:3em;
    margin-top: 40px;
    margin-bottom: 20px;
    
}

.dayp{
    color:#242058;
    font-size: 2em;
}

/* --- end of 30 day logo challenge case study ---*/

.button{
    background-color: #00B5A5;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-family: 'robot', sans-serif;
    font-size: 16px;
    border-radius: 30px;
    position: relative;
    transition: 0.3s;
    margin-top: 60px;
}

.button:hover {
    color: #242058; 
}

.button span{
    position: absolute;
    bottom: 0px;
    right: 0px;
}



    

/* --- contact ---*/

  #contact {
        min-height: 800px;
        max-height: 800px;
        background-color: white;
        background-image: url(images/contact/SVG/03.svg);
        background-repeat: no-repeat;
        padding: 70px;
        
    }

    #contact-content {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items:center;
        max-height: 730px;

    }



    #contact h2{
        color:#242058;
        text-align: left;
        font-size: 80px;
        font-family: 'roboto|900', sans-serif;
       
    }

    .contact-img {
        display: inline-block;
        height: 100px;
        width: 100px;
        margin-left: 100px;
      
    }

    .mail-me{
        display: inline-block;
    }

    .contentl p{
        color:#242058;
        text-align: left;
        font-size: 40px;
        margin-top: 100px;
    }

.social-media img{
    margin-left: 20px;
}


    

    .plane-img {
        margin: 0 auto;
        height: 600px;
        width: 600px;
    }

    .self{

    }

/* --- END OF MAIN PAGE ---*/










/* --- black death infographic --- */

#page2 h2{
    
}

/* --- navigation ---*/
     #page2 ul{
        text-align: right;
        background-color:#E15A26;
        
    }
        
    #page2 ul li{
        display: inline-block;
        margin-right: 20px;
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: right;
        font-family: 'Roboto|900', sans-serif;
        font-size: 2em;
        grid-column: 3/5;
        }

    #page2 ul img{
        margin: auto;
        margin-right: 300px;
        margin-top: 10px;
        height:auto;
        width:50px;
        align-content: center;
    }
/* --- end of navigation ---*/

/* --- home --- */
#page2 .home{
     background-image: url(images/infographic/SVG/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:beige;
    height: 800px;
    width:100%;
    text-align: center;
    vertical-align: middle;
    line-height: 800px;
}

#page2 .home h1{
    font-family: 'roboto', sans-serif;
    font-size: 4em;
    color: white;
}
/* --- end of home --- */

/* --- breif --- */
#page2 #breif{
    height: 800px;
    background-color:white;
    display: grid;
    grid-template-columns: 50% 50%;
}

#page2 .breif-img{
    grid-column: 0/1;
    display: block;
    margin: auto;
}

#page2 .brief{
    margin-top: 180px;
    
}

#page2 .brief h2{
    font-size: 5em;
    padding: 0px;
    margin-bottom: 30px;
}

#page2 .brief p{
    font-size: 1.5em;
    margin-right: 100px;
    color: #242058;
}



/* --- end of breif --- */

/* --- skills used --- */

    #page2 #intro{
        height: 100px;
        text-align: center;
        vertical-align: middle;
        line-height: 100px;
    }

    #intro .head{
      
    }

    .head h2{
        
        font-size: 3em;
    }

    #page2 #skills{
        height: 400px;
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    #skills img{
        height: 15em;
    }

    .skills {
        display: inline-block;
        margin: auto;

    }

/* --- end of skills used --- */

/* --- illustrations --- */

    #page2 #illustrations{
        height: 800px;
        background-color:#E15A26;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .illustration-info{
        margin-top: 100px;
        margin-left:150px;
        margin-right: 50px;
        vertical-align: middle;
    }

    .illustration-info h2{
        color: white;
        font-size: 3em;
        margin-bottom: 30px;
    }

    .illustration-info p{
        color: white;
        font-size: 1.5em;
    }

.illustration-info a{
    text-decoration: none;
    color: #242058;
}

.illustration-info a:hover{
    color: white;
    transition: ease-in, 0.3s;
}

    .illustration-image{
        display: inline-block;
        margin: auto;
    }

/* --- end of illustrations --- */

/* --- github --- */
#page2 #github{
    height: 100px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    
}

#page2 .github{
   margin: auto;
}

.github p{
    font-size: 2em;
    color: #242058;
    margin-top: 50px;
}

.github a{
    text-decoration: none;
    color:#00b5a5;
}

.github a:hover{
    color: #242058;
    transition: ease-in, 0.5s;
}
/* --- end of github ---*/

/* --- end of black death infographic ---*/









/* --- walk --- */
#page4{
    
}

#page4 .home{
    background-image: url(images/walk/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
    height: 800px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    
}

#page4 .home h1{
    font-family: 'roboto', sans-serif;
    font-size: 4em;
    color: white;
    
}

/* --- navigation --- */

#page4 ul{
        text-align: right;
        background-color:#FFC802;
        
    }
        
    #page4 ul li{
        display: inline-block;
        margin-right: 20px;
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: right;
        font-family: 'Roboto|900', sans-serif;
        font-size: 2em;
        grid-column: 3/5;
        }

    #page4 ul img{
        margin: auto;
        margin-right: 300px;
        margin-top: 10px;
        height:auto;
        width:50px;
        align-content: center;
    }

/* --- end of navigation ---*/

/* --- brief ---*/
    #page4 #breif{
    height: 800px;
    background-color:white;
    display: grid;
    grid-template-columns: 50% 50%;
}

#page4 .breif-img{
    grid-column: 0/1;
    display: block;
    margin: auto;
}

#page4 .brief{
    margin-top: 180px;
    
}

#page4 .brief h2{
    font-size: 5em;
    padding: 0px;
    margin-bottom: 30px;
}

#page4 .brief p{
    font-size: 1.5em;
    margin-right: 100px;
    color: #242058;
}

/* --- end of brief --- */

/* --- info ---*/

#page4 #info{
    height: 800px;
    width: 100%;
    background-color: #FFC802;
    display: grid;
    grid-template-columns: 50% 50%;
}

#info .info{
        margin-top: 130px;
        margin-left:120px;
        margin-right: 120px;
        vertical-align: middle;
    }

   #info .info h2{
        color: white;
        font-size: 3em;
        margin-bottom: 30px;
    }

    #info .info p{
        color: white;
        font-size: 1.5em;
    }

#info .screen{
    display: inline-block;
    margin: auto;
}

.screen img{
    border-radius: 10px;
}

/* --- end of info --- */

/* --- skills used ---*/

#page4 #intro{
        height: 100px;
        text-align: center;
        vertical-align: middle;
        line-height: 100px;
    }

    #intro .head{
      
    }

    .head h2{
        
        font-size: 3em;
    }

    #page4 #skills{
        height: 400px;
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    #skills img{
        height: 15em;
    }

    .skills {
        display: inline-block;
        margin: auto;

    }

/* --- end of skills used --- */

/* --- prototype --- */

#page4 #prototype{
    height: 800px;
    width: 100%;
    background-color: #FFC802;
    display: grid;
    grid-template-columns: 50% 50%;
}

#page4 #prototype .image{
    display: inline-block;
    margin: auto;
    height: 30em;
    width: 60%;
 
}

 #prototype .info{
        margin-top: 250px;
        margin-left:150px;
        margin-right: 50px;
        vertical-align: middle;
    }

   #prototype .info h2{
        color: white;
        font-size: 3em;
        margin-bottom: 30px;
    }

    #prototype .info p{
        color: white;
        font-size: 1.5em;
    }

#prototype .info a{
    text-decoration: none;
    color: #242058;
}

#prototype .info a:hover {
    color: white;
    transition: ease-in, 0.3s;
}

/* --- end of prototype --- */

/* --- github --- */

#page4 #github-walk{
    height: 100px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    
}

#page4 .github{
   margin: auto;
}

.github p{
    font-size: 2em;
    color: #242058;
    margin-top: 50px;
}

.github a{
    text-decoration: none;
    color:#00b5a5;
}

.github a:hover{
    color: #242058;
    transition: ease-in, 0.5s;
}

/* --- end of github --- */

/* --- end of walk --- */







/* --- 30 day logo challenge --- */

/* --- navigation --- */
   #page3 ul{
        text-align: left;
        background-color:#00b5a5;
        
       
        
    }
        
    #page3 ul li{
        display: inline-block;
        margin-right: 20px;
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: right;
        font-family: 'Roboto|900', sans-serif;
        font-size: 2em;
        grid-column: 3/5;
        }

    #page3 ul img{
        margin: auto;
        margin-right: 300px;
        margin-top: 10px;
        height:auto;
        width:50px;
        align-content: center;
    }
/* --- end of navigation --- */

/* --- home --- */

#page4 {
    width: 100%;
    max-width:100%;
}

#page3 .home{
    background-image: url(images/logo-30/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:beige;
    height: 800px;
    width:100%;
    text-align: center;
    vertical-align: middle;
    line-height: 800px;
}

#page3 .home h1{
    font-family: 'robot', sans-serif;
    font-size: 8em;
    color: white;
}

/* --- end of home --- */

/* --- breif --- */
#page3 .breif{
    width: 100%;
    height: 10px;
    background-color:white;
    
}

#page3 .brief-content{
    padding: 10px;
}

 .breif-content h2{
    font-size: 80px;
     margin-left: 100px;
     margin-right: 100px;
     margin-top: 40px;
    
}

.breif p{
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    line-height: 40px;
    color: #242058;
}

/* --- logofolio --- */

#page3 .logo{
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 487px;
    width: 100%;
}

#page3 .logo1{
    background-image: url(images/logo-30/SVG/sakura.svg);
}

#page3 .logo2{
    background-image: url(images/logo-30/SVG/wenatchee.svg);
}

#page3 .logo3{
    background-image: url(images/logo-30/SVG/thegrind.svg);
}

#page3 .logo4{
    background-image: url(images/logo-30/SVG/deadbeat.svg);
}

#page3 .logo5{
    background-image: url(images/logo-30/SVG/anchor.svg);
}

#page3 .logo6{
    background-image: url(images/logo-30/SVG/pizza.svg);
}

/* --- end of logofolio --- */

/* --- footer --- */

.footer{
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:white;
    color:#00b5a5;
    text-align: center;
    
}

.footer p{
    font-size: 1em;
    color: #00b5a5;
    margin-top:20px;
    padding-bottom: 10px;
    
    
}

.footer a{
    color: #00b5a5;
    text-decoration: none;
    
}

.footer a:hover{
    color:#242058;
    transition: ease-in, 0.5s;
}
/* --- end of 30 day logo challenge --- */




